@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

div {
  max-width: 645px;
  max-height: 1398px;
  background-color: #f8f8f8;
}

.title {
  background: linear-gradient(98deg, #7dcaca 0%, #c0e7e7 96.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 60px */
  letter-spacing: -3px;
}

.smallheader {
  color: #7dcaca;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 28px */
  letter-spacing: -0.56px;
}

.photogrey {
  width: 399px;
  height: 298px;
  flex-shrink: 0;
  background: #d9d9d9;
}

@font-face {
  font-family: "kodchasan";
  src: url(*/public/fonts/Kodchasan-Bold.ttf);
}

@font-face {
  font-family: "montbold";
  src: url(*/public/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "montsemibold";
  src: url(*/public/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "montmedium";
  src: url(*/public/fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "mont";
  src: url(*/public/fonts/Montserrat-Regular.ttf);
}

root {
  background-color: #ffffff;
}
